<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Note List</title>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="../">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="../lab-4">Lab 4</a>
            <a class="nav-link active" aria-current="page" href="../lab-4/add-note">Add Note</a>
            <a class="nav-link active" aria-current="page" href="../lab-4/note-list">Note List</a>
          </ul>
        </div>
      </div>
    </nav>
  </head>
  <body>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% if Note %}
            {% for note in Note %}
            <div class="col">
              <div class="card text-white bg-dark md-3" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">To: {{ note.to }}</li>
                  <li class="list-group-item">From: {{ note.From }}</li>
                </ul>
              <div class="card-body">
                <h5 class="card-title">{{ note.title }}</h5>
                <p class="card-text">{{ note.message }}</p>
              </div>
              </div> 
            </div>     
            {% endfor %}
        {% endif %} 
    </div>  
  </body>
</html>