<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Friend List</title>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="../">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="../lab-3">Lab 3</a>
            <a class="nav-link active" aria-current="page" href="../lab-3/add">Add Friend</a>
          </ul>
        </div>
      </div>
    </nav>
  </head>
  <body>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="card text-center" style="width: 25rem;">
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
              Nama 
              <div class="mb-3">
                {{form.name}} 
               </div>
            </div>
            <div class="mb-3">
              NPM
              <div class="mb-3">
                {{form.npm}} 
               </div>
            </div>
            <div class="mb-3">
              Date Of Birth 
              <div class="mb-3">
                {{form.dateOfBirth}} 
               </div>
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-outline-primary">ADD</button>
            </div>
        </form>
        </div>
      </div>
    </div> 
  </body>
</html>
