<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Home</title>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="../">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="../lab-1/friends">Lab 1</a>
            <a class="nav-link active" aria-current="page" href="../lab-2">Lab 2</a>
            <a class="nav-link active" aria-current="page" href="../lab-3">Lab 3</a>
            <a class="nav-link active" aria-current="page" href="../lab-4">Lab 4</a>
          </ul>
        </div>
      </div>
    </nav>
  </head>
  <body>
    <div class="text-center">
      <h1>Hello my name is {{ name }}</h1>
      <article>NPM : {{ npm }}</article>
      <article>I am {{ age }} years old</article>
    </div>
  </body>
</html>
